@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,900&display=swap");

root {
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffff;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body,
input,
button {
  font-family: "Source Sans Pro", sans-serif;
}

button {
  width: 340px;
  height: 56px;
  background: #57bf77;
  border-radius: 5px;
  border-color: #57bf77;
  color: #ffff;
  font-size: 15px;
  margin: 5px;
  border-style: solid;
  box-shadow: none;
  outline: 0;
  -webkit-box-shadow: none;
  outline-offset: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: "Source Sans Pro", sans-serif;
}
